.service-offer {
    padding-bottom: 120px;
    padding-top: 36px;
}

.service-blocks {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 64px;
}

.service-blocks__item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 27px;
    padding: 58px 46px 49px 29px;
}

.service-blocks__item:last-child {
    margin-bottom: 0;
    background-color: #f4f5f5;
    min-height: 451px;
}

.service-blocks__title {
    font-size: 30px;
    font-weight: 700;
    color: #202123;
    margin-bottom: 18px;
    line-height: 1.3;
}

.service-blocks__desc p {
    width: 543px;
    font-size: 16px;
    color: #818181;
    line-height: 1.7;
    margin-bottom: 30px;
}