.welcome__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: bounceAnimation 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.welcome__logo {
    margin-bottom: 63px;
}

.welcome--button {
    padding: 19px 58px;
}

@keyframes bounceAnimation {
    0% {
        margin-bottom: -60px;
    }

    45% {
        margin-bottom: 60px;
        opacity: 0.6;
    }

    55% {
        margin-bottom: 0;
        opacity: 0.8;
    }

    75% {
        margin-bottom: 20px;
        opacity: 1;
    }

    80% {
        margin-bottom: 0px;
        opacity: 1;
    }

    100% {
        margin-bottom: 0px;
        opacity: 1;
    }
}